{% extends "layout.html" %}
{% block title %}Book{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %}
{% block content %}
<h1>Books</h1>
<p class="important">
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="https://picsum.photos/20{{book.id}}" class="card-img-top">
      <div class="card-body">
        <p class="card-title">{{book.book_name}}</p>
        <p class="card-text">{{book.author}}, {{book.year_published}}<br> Book type: {{book.type}}</p>
        <a class="btn btn-danger" href="/books/delete/{{book.id}}">del</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}